<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

</head>
<body>
    <form action="/places/yelpScrape">
        <input name="url" type="text" size="100" placeholder="http://www.yelp.com/biz/ten-ren-tea-cupertino"/>
        <input type="submit" value="submit">
    </form>

</body>
</html>