<div id="footer" class="nav">
  <ul>
    <li><%= link_to "Help", '#', :class => 'links' %> |
    <li><%= link_to "Privacy", '#', :class => 'links' %> |
    <li><%= link_to "Terms", '#', :class => 'links' %> |
    <li><%= link_to "App Tutorial", '#', :class => 'links' %>
  </ul>
</div>