<div id="banner">
  <%= image_tag("scrapboard.png", :alt => "Scrapboard") %>
  <%= link_to "Login", '#', :class => "bluebutton roundbutton" %>
  <%= link_to "Download App", '#', :class => "greenbutton roundbutton" %>
</div>